:root {
    --primary-background-color: #C4C4C4;
    --secondary-background-color: #F1F1F1;
    --tertiary-background-color: ;

    --line-color: #4B4B4B;
    --text-color: #F1F1F1;
    --primary-color: #014166;
}

body {
    margin: 0;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

ul { 
    margin: 0;
    padding: 0;
}